@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@font-face {
  font-family: Linear;
  font-weight: 400 800;
  font-display: block;
  src: url("/static/fonts/inter-var-4-latin.woff2") format("woff2");
}

body {
  font-family: var(--font-sans);
  background: var(--color-bg-primary);
}

body::-webkit-scrollbar {
  display: none;
}

:root {
  --header-height: 64px;
  --header-blur: 12px;
  --header-bg: hsla(0, 0%, 100%, 0.01);
  --header-border: hsla(0, 0%, 100%, 0.08);
  --header-top: 16px;
  --header-radius: 16px;
  --header-max-width: calc(var(--page-max-width) + 24px);
  --page-padding-default: 32px;
  --page-max-width: 1024px;
  --page-padding-left: max(env(safe-area-inset-left), var(--page-padding-default));
  --page-padding-right: max(env(safe-area-inset-right), var(--page-padding-default));
  --page-padding-y: 64px;
  --prose-max-width: 588px;
  --grid-columns: 12;
  --grid-column-gap: 24px;
  --font-sans: "Linear", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
  --color-bg-primary: #08090a;
  --color-bg-secondary: #161616;
  --color-bg-tertiary: #1c1c1c;
  --color-border-primary: #23252a;
  --color-border-secondary: #292b30;
  --color-text-primary: #fff;
  --color-text-secondary: #e3e4e6;
  --color-text-tertiary: #969799;
}

@media (max-width: 768px) {
  :root {
    --page-padding-y: 48px;
    --grid-columns: 8;
  }
}

@media (max-width: 640px) {
  :root {
    --page-padding-default: 24px;
    --grid-columns: 4;
    --grid-column-gap: 16px;
    --header-top: 8px;
    --header-max-width: calc(var(--page-max-width) + 16px);
    --header-max-width: unset;
  }
}
